<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Extension-Path</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="wrapper">
    <section class="hero is-primary is-medium">
      <div class="hero-head">
        <header>
          <h1>
            <a href="/">Extension-Path</a>
          </h1>
        </header>
        <section class="hero is-primary is-medium">
          <!-- Hero head: will stick at the top -->
          <div class="hero-head">
            <nav class="navbar">
              <div class="container">
                <div class="navbar-brand">
                  <a class="navbar-item">
                    <img src="./stylesheets/assets/bkgtravel.jpg" alt="Logo">
                  </a>
                  <span class="navbar-burger" data-target="navbarMenuHeroA">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </div>
                <nav class="navbar">
                  {{#if loggedIn}}
                  <a href="/dashboard">dashboard</a>
                  <button id="logout" class="btn-no-style">logout</button>
                  {{else}}
                  <a href="/login">login</a>
                  {{/if}}
                </nav>
              </div>
              </a>
          </div>
        </section>
          <main>
            {{{body}}}
          </main>
        <footer>
          Safe Travels!
        </footer>
      </div>
      {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
      {{/if}}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
</body>

</html>