<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Extension-Pass</title>
  {{!-- API Key for TinyMCE --}}
  <script src="https://cdn.tiny.cloud/1/a45lsd3nzw8m8y07k24qknaqyiq8qwra0s8ih1vk0qvitpg3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  {{!-- HTML script for TinyMCE --}}
  <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>
  
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  
</head>

<body>
  <div class="wrapper">
    <section class="hero is-primary is-medium">
      <div class="head">
          <div class="container">
            <img src="./stylesheets/assets/testgif.gif" alt="Logo">
            <div class="overlay">
              <div class="text">
                <a href="/">Extension-Pass</a>
              </div>
          </div>
      </div>  
         <!-- Right side -->
      <nav>
        <div class="level-right">
          <p class="level-item"><strong>Explore</strong></p>
          <p class="level-item"><a class="button is-success" href="https://www.google.com/maps/place/North+America/@37.5,-110,3z/data=!3m1!4b1!4m5!3m4!1s0x52b30b71698e729d:0x131328839761a382!8m2!3d54.5259614!4d-105.2551187">North America</a></p>
          <p class="level-item"><a class="button is-success"href="https://www.google.com/maps/place/South+America/@-19.7654386,-61.9980672,3z/data=!3m1!4b1!4m5!3m4!1s0x9409341c355d34b5:0x69d40ccfc9c6e32b!8m2!3d-8.783195!4d-55.491477">South America</a></p>
          <p class="level-item"><a class="button is-success"href="https://www.google.com/maps/place/Europe/@43.8390984,-13.0849467,3z/data=!3m1!4b1!4m5!3m4!1s0x46ed8886cfadda85:0x72ef99e6b3fcf079!8m2!3d54.5259614!4d15.2551187">Europe</a></p>
          <p class="level-item"><a class="button is-success"href="https://www.google.com/maps/place/Asia/@29,100,3z/data=!3m1!4b1!4m5!3m4!1s0x3663f18a24cbe857:0xa9416bfcd3a0f459!8m2!3d34.047863!4d100.6196553">Asia</a></p>
          <p class="level-item"><a class="button is-success"href="https://www.google.com/maps/place/Africa/@1.8184448,-16.7336368,3z/data=!3m1!4b1!4m5!3m4!1s0x10a06c0a948cf5d5:0x108270c99e90f0b3!8m2!3d-8.783195!4d34.508523">Africa</a></p>
          <p class="level-item"><a class="button is-success"href="https://www.google.com/maps/place/Australia/@-21.0160213,95.1370107,3z/data=!3m1!4b1!4m5!3m4!1s0x2b2bfd076787c5df:0x538267a1955b1352!8m2!3d-25.274398!4d133.775136">Australia</a></p>
          {{!-- <p class="level-item"><a class="button is-success">New</a></p>
        </div> --}}
      </nav>
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Extension-Pass
          </p>
          <p class="subtitle">
            Share Your Experiences With Extension-Path Travel Blog
          </p>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
    {{!-- changed from <button></button> to <a> for styling reasons --}}
            <a id="logout" class="btn-no-style">logout</a>
            {{else}}
            <a href="/login">login</a>
            {{/if}}
          </div>
        </nav>
      </div>
          
    </section>
        <main>
          {{{body}}}
        </main>
        <footer>
          Safe Travels!
        </footer>
      </div>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
      <script async type="text/javascript" src="./js/bulma.js"></script>

      {{#if loggedIn}}
      
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>