<section>
  <h2>Create New Post</h2>
  
  <form method="post" class="new-post-form">
    <div>
      <label for="post-title">Location</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-description">What did you do on your trip?</label>
      <textarea name="post-description" id="mytextarea"></textarea> 
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>