{{> post-info post}}
<<<<<<< HEAD
=======

>>>>>>> 590ec49fdae4c476cce92e9f372e415a1fb29c7b
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
<<<<<<< HEAD
=======

>>>>>>> 590ec49fdae4c476cce92e9f372e415a1fb29c7b
  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}
<<<<<<< HEAD
{{> comments post.comments}}
=======

{{> comments post.comments}}

>>>>>>> 590ec49fdae4c476cce92e9f372e415a1fb29c7b
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}